@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Nunito');

.usercount {
    color: white;
}

.appcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.gamecontainer {
    display: flex;
}

.entrycontainer {
    display: flex;
    flex-direction: column;
}

.entrycontainer > div {
    margin: 4px;
}

.board {
    display: flex;
    border: solid black 10px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 9.6vw;
}

.cellcontainer {
    background-color: rgb(0, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.3vw;
    height: 14vh;
    border: solid black 3px;
}

.cellcontainer:hover {
    background-color: rgb(0, 92, 92);
}

.cellcontainer:hover .cell {
    background-color: rgb(0, 92, 92);
}

.cell {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 7vw;
    height: 6vh;
    background-color: rgb(0, 65, 65);
    user-select: none;
    cursor: pointer;
}

.points {
    font-size: 3.3vw;
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-weight: 400;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 8.3vw;
    height: 14vh;
    background-color: rgb(0, 65, 65);
    font-size: 1.5vw;
    font-family: 'Staatliches';
    padding: 10px;
    letter-spacing: .05rem;
    border: solid black 3px;
    text-align: center;
    border-bottom: solid black 10px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    user-select: none;
}

.clue {
    font-size: .475vw;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-family: 'Nunito';
}

.activeclue {
    transition: all .55s ease-out;
    font-size: 4vw;
    text-align: center;
    padding: 3vw;
    color: white;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    user-select: none;
    cursor: none;
    font-family: 'Nunito';
    width: 59.5vw;
}

.active {
    background-color: rgb(0, 51, 51);
    transition: all .55s ease-out;
    position: fixed; 
    width: 59.5vw;
    height: 100vh;
    top: 0 !important; 
    left: 0 !important; 
    border: none;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: none;
    font-family: 'Nunito';
}

.seenclue {
    display: none !important;
}