.finalcontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-size: 40px;
    border: solid black 10px;
    width: 1050px;
    background-color: #29302d;
}

.finalcategory {
    margin: 40px;
}

.finalclue {
    text-align: center;
    border: black 6px solid;
    padding: 40px;
    width: 80%;
    background-color: #0a4d4e;
}

.responsecontainer {
    display: flex;
}

.responses {
    width: 40%;
    padding: 20px;
    margin: 60px;
    font-size: 40px;
    border: black 6px solid;
    background-color: #0a4d4e;
}

.hidden {
    visibility: hidden;
}