@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.finalcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2vw;
    border: solid black 10px;
    width: 57vw;
    height: 90vh;
    background-color: #262928;
}

.finalcategory {
    margin: 15px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    border: black 6px solid;
    background-color: #0a4d4e;
    padding: 20px;
    letter-spacing: .05rem;
}

.finalclue {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: black 6px solid;
    padding: 40px;
    width: 80%;
    background-color: #0a4d4e;
    height: 20vh;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-family: 'Nunito';
    letter-spacing: .05rem;
}

.responsecontainer {
    margin: 20px;
    border: black 6px solid;
    width: 275px;
    background-color: #0a4d4e;
    height: 275px;
}

.responses {
    width: 40%;
    padding: 10px;
    margin-right: 20px;
    font-size: 30px;
    border: black 6px solid;
    background-color: #0a4d4e;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.finalresponsecont {
    display: flex;
}

.showresponse {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    visibility: visible;
    height: 100px;
    background-color: #0a4d4e;
    word-wrap: break-word;
    text-align: center;
    padding-top: 30px;
    font-family: 'Shadows Into Light Two';
}

.responseInput {
    background-color: #d1e8e2;
}