.hostuicontainer {
    display: flex;
}

.hostuicontainer > * {
    color: white;
}

.hostuicontainer input {
    background-color: black;
    color: white;
    border: rgb(61, 61, 61) solid;
}

.hostuicontainer button {
    cursor:pointer;
}

.otherbutton {
    color: white;
    background-color: black;
}

.divider {
    border-left: 4px rgb(122, 122, 122) solid;
    margin: 25px;
}

.commoncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    border-bottom: rgb(122, 122, 122) solid 4px;
    color: white;
}

.buttoncontainer {
    display: flex;
}

.buttoncontainer > button {
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: rgb(0, 92, 92);
    color: rgb(6, 189, 0);
}

.rarebuttons {
    display: flex;
}

.rarebuttons > button {
    margin: 10px;
    height: 60px;
    width: 70px;
    background-color: rgb(0, 92, 92); 
    color: white;
}

.rarebuttondisabled {
    opacity: 0.4;
}

.rarecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.correct {
    color: green;
    font-weight: 700;
    font-size: 70px;
}

.incorrect {
    font-size: 55px;
}

.hotkeys {
    font-size: 20px;
    color: white;
}

.randombutton {
    margin: 10px;
    height: 100px;
    width: 130px;
    font-size: 50px;
    background-color: rgb(0, 92, 92);
    color: white;
}

.clueloadercontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    border-bottom: rgb(122, 122, 122) solid 4px;
    border-top: rgb(122, 122, 122) solid 4px;

}

.playerscorechanger {
    margin: 15px;
}

.playerhandler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
}

.scoreinput {
    margin: 5px;
    border: rgb(255, 255, 255) solid 2px;
    width: 140px;
    font-size: 24px;
}

.namescorechanger {
    font-size: 16px;
    margin: 5px;
    width: 175px;
}

.setbutton {
    background-color: rgb(49, 73, 207);
}

.addbutton {
    background-color: rgb(26, 170, 34);
}

.subtractbutton {
    background-color: rgb(177, 17, 49);
}

.pointsbuttons > button {
    height: 30px;
    width: 40px;
    font-size: 22px;
    margin: 5px;
    color: white;
}

.kickbutton {
    background-color: rgba(255, 255, 78, 0.863);
    margin-right: 5px;
}

.responsescontainer {
    display: flex;
    padding: 15px;
    margin: 15px;
    border-bottom: rgb(122, 122, 122) solid 4px;
}

.responses {
    margin-bottom: 30px;
}

.responses > div {
    margin-bottom: 5px;
}

.responses > button {
    height: 35px;
    width: 200px;
    background-color: rgb(0, 92, 92); 
    color: white;
}

.revealresponse {
    background-color: rgb(0, 92, 92);
    margin-top: 5px;
    margin-right: 5px;
    font-size: 26px;
    color: white;
    width: 40px;
}

.revealdisabled {
    background-color: rgb(0, 92, 92);
    margin-top: 5px;
    margin-right: 5px;
    font-size: 26px;
    color: white;
    width: 40px;
    opacity: 0.4;
}

.playercount {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    border-bottom: rgb(122, 122, 122) solid 4px;
    border-top: rgb(122, 122, 122) solid 4px;
    color: white;
}