.board {
    display: flex;
    border: solid black 10px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cellcontainer {
    background-color: rgb(0, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 125px;
    border: solid black 3px;
}

.cellcontainer:hover {
    background-color: rgb(0, 92, 92);

}

.cellcontainer:hover .cell {
    background-color: rgb(0, 92, 92);
}

.cell {
    color: white;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 200px;
    height: 100px;
    background-color: rgb(0, 65, 65);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.points {
    font-size: 80px;
}

/* .header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(138, 146, 23);
    width: 225px;
    height: 175px;
    background-color: rgb(0, 65, 65);
    font-size: 30px;
    border: solid black 3px;
    text-align: center;
    padding: 5px;
    border-bottom: solid black 10px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
} */

.clue {
    font-size: 12px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    padding: 18px;
}

.activeclue {
    transition: all .6s ease-in;
    font-size: 80px;
    text-align: center;
    padding: 120px;
}

.active {
    font-size: 200px;
    background-color: rgb(0, 65, 65);
    transition: all .6s ease-in;
    position: fixed; 
    width: calc(100vw - 1px);
    height: calc(100vh - 1px);
    top: 0 !important; 
    left: 0 !important; 
    border: none;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seenclue {
    display: none !important;
}
